.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

# core dumps
examples/vgcore.*
src/rust/vendor
src/Makevars
src/Makevars.win
.vscode/
inst/doc
/doc/
/Meta/

docs
tools/coding-helpers.R
target/rust-analyzer/flycheck0/stderr
target/rust-analyzer/flycheck0/stdout
