.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

# core dumps
examples/vgcore.*
src/rust/vendor
src/Makevars
src/Makevars.win
.vscode/settings.json
R/aaaaa-coding-helpers.R
inst/doc
/doc/
/Meta/
